In [1]:
#Import Libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
#Retrive url and turn into HTML doc
url = "https://webpages.charlotte.edu/mscipion/"
presoup = requests.get(url)
#Proof that it worked:
print(presoup)

<Response [200]>

In [6]:
#Creating Soup object from HTML doc
soup = BeautifulSoup(presoup.text, "lxml")

In [9]:
#Create table from table inside Soup object
table = soup.find("table")
#Proof that it worked:
print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [11]:
#Retrieve headers from the table:
headers = table.find_all("th")
#Proof that it worked:
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [12]:
#Place headers in a list called "titles":
titles=[]
for x in headers:
    header = x.text
    titles.append(header)
#Proof that it worked:
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [14]:
#Create new, empty pandas dataframe with the items in the "titles" list as the column names:
web_scraping_df = pd.DataFrame(columns = titles)
#Proof that it worked:
print(web_scraping_df)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [17]:
#Retrieve the rows from the table:
rows = table.find_all("tr")
#Proof that it worked:
print(rows)

[<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [25]:
#Retrieve entries from each row and strip them of their labels, leaving only the text:
for entry in rows[1:]:
    data = table.find_all("td")
    row = [tr.text for tr in data]
#Proof that it worked:
print(data)
print(row)

[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']

In [26]:
#This iterates through every row and adds its data into the pandas dataframe.
for entry in rows[1:]:
    data = entry.find_all("td")
    row = [tr.text for tr in data]
    current_num = len(web_scraping_df)
    web_scraping_df.loc[current_num] = row

In [34]:
#Proof that it worked and finished df:
web_scraping_df.head(6)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15